[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
tmdbsimple = "*"

[dev-packages]
pylint = "==1.9.3"

[requires]
python_version = "2.7"
