[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "==0.4.1"
gunicorn = "==19.6.0"
"psycopg2" = "==2.7"
whitenoise = "==3.2"
djangorestframework = "==3.9.1"
tmdbsimple = "==2.2.0"
Django = "==2.2.6"
coverage = "==4.5.2"

[dev-packages]
"psycopg2" = "==2.7"
Django = "==2.1.11"
coverage = "==4.5.2"
coveralls = "==1.5.1"
tmdbsimple = "==1.6.1"
dj-database-url = "==0.4.1"
djangorestframework = "==3.9.1"
whitenoise = "==3.2"

[requires]
python_version = "3.6.5"
