<!DOCTYPE html>
<html lang="en" class="logInBackground">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Claquete16</title>
    <meta name="Claquete16" content="">
    <meta name="@betinacosta" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/skeleton.css">
    <link rel="stylesheet" href="../../assets/css/claquete.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--<link rel="icon" type="image/png" href="images/dice.png"> -->

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../controllers/login.js"></script>


</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns aboutBox">
        <div class="six columns" style="margin: 10% 0% 10% 0%;">
          <h1 class="siteTitle">Claquete 16</h1>
          <p class="siteDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. 
            Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
        </div>
        <div class="six columns">
          <h4 class="loginText">Conectar</h4>
          <form>
            <div>
              <input class="facebookButton button-primary u-full-width" type="submit" value="Facebook" ng-click="facebookLogin()">
              <h6 class="loginText">ou</h6>
              <input class="u-full-width loginFields" type="email" placeholder="Email" id="username" ng-model="sUsername">
              <input class="u-full-width loginFields" type="password" placeholder="Senha" id="password" ng-model="sPassword">
              <input class="button-primary u-full-width loginButton" type="submit" value="Entrar" ng-click="login(sUsername, sPassword)">
              <input class="button-primary u-full-width singupButton" type="submit" value="Cadastrar" formaction="singup.html">
            </div>
          </form>
        </div>
      </div>
                
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
