<div class="twelve columns searchBarBackground">
    <form ng-submit="searchMovie(query)">
        <span class="icon"><i id ="searchIcon" class="fa fa-search searchIcon" ng-click="searchMovie(query)"></i></span>
        <input class="u-full-width searchBar" type="text" name="search" placeholder="Buscar Filmes.." ng-model="query">
    </form>
</div>
<div class="twelve columns" ng-controller="moviedetailsCtrl">
    <div id="first-section" class="twelve columns first-section" style="background-color: #eee">
        <div id="poster-rating" class="four columns">
            <div>
                <img src="{$ movieDetails.poster_path $}" class="detail-movie-poster">
                <div style="text-align: center;">
                    <style>
                        .ngrateit-star {
                            background-size: 45px;
                        }
                    </style>
                    <ng-rate-it style="margin-left: 10%;margin-bottom: 3%;" ng-model="movie.rating" step="1" resetable="false" min="0" max="5"
                        star-width="45" star-height="45" ng-click="setUserRatingExternal(movie.rating, movieDetails.poster_path, movieDetails.title)"></ng-rate-it>
                </div>
            </div>
        </div>
        <div id=movie-info class="eight columns">
            <div id="title-overview" style="margin: 5% 10% 0% 0%;">
                <h3 class="movie-title-detail pin" ng-click="addWatchlistExternal(movieDetails.poster_path, movieDetails.title)">{$ movieDetails.title $} ({$ movieDetails.year $})</h3>
                <p class="movie-overview">{$ movieDetails.overview $}</p>
            </div>
        </div>
        <div id=movie-crew class="eight columns">
            <div id="director" class="four columns">
                <p style="font-size: large;"><b>Diretor(a): </b>{$ movieCrew.director $}</p>
            </div>
            <div id="writer" class="four columns" style="float: right;">
                <p style="font-size: large;"><b>Roteirista: </b>{$ movieCrew.writer $}</p>
            </div>
        </div>
        <div id=movie-genre-rotten class="eight columns">
            <div id="genre" class="four columns">
                <p style="font-size: large;"><b>Gêneros: </b>{$ movieDetails.genres $}</p>
            </div>
            <div id="imdb" class="four columns" style="float: right;">
                <span class="imdbRatingPlugin" data-user="ur27796125" data-title="{$ movieDetails.imdb_id $}" data-style="p4">
                <img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_37x18.png"/>
                </span>
                <script>
                (function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js";stags.parentNode.insertBefore(js,stags);})(document,'script','imdb-rating-api');
                </script>
                <span style="font-family: Arial,Helvetica,sans-serif;";>
                    <img style="width:1.5em;margin-left: 6em;" src='https://uploaddeimagens.com.br/images/000/900/001/original/film-strip_%281%29.png.ico?1493100398'/>
                    <span style="font-size:14px; font-weight:bold">{$ movieDetails.rating $}</span> <span style="color:#666; font-size:9px;font-weight:bold;margin-left: -2px;">/5</span>
                </span>
            </div>
           
        </div>
        <div id=casting class="eight columns" style="margin-top: 1%;">
            <p style="font-size: large;"><b>Elenco Principal: </b>
        </div>
        <div id=casting class="eight columns">
            <div class="two columns" ng-repeat="cast in movieCast">
                <img src="{$ cast.profile_img $}" width='62px' height="93px">
                <div>
                    <p>{$ cast.actor $}<br><b>({$ cast.character $})</b></p>
                </div>
            </div>
        </div>
    </div>
    <div id="second-section" class="twelve columns first-section">
        <div id="video" class="four columns" style="margin: 1% 0% 2% 6%;">
            <h3>Trailer</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <youtube-video class="embed-responsive-item" video-id="movieVideo.youtube_id"></youtube-video>
            </div>
        </div>
        <div id="more-details" class="six columns" style="width: 59%">
            <div class="more_details" style="width: 50%; float: left;">
                <p><b>Título Original:</b> {$ movieDetails.original_title $}</p>
                <p><b>Duração:</b> {$ movieDetails.runtime $}</p>
                <p><b>Links:</b> <a ng-href="{$ movieDetails.imdb_link $}"> IMDb</a> </p>
            </div>
            <div id="keywords" class="keywors">
                <p style="font-size: large"><b>Palavras-Chave:</b></p>
                <div ng-repeat="key in movieKeywords">
                    <button class="keywors-btn">{$ key $}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="fourth-section" class="twelve columns first-section" style="margin-bottom: 2%; background-color: #eee;padding-bottom: 3%;">
        <div style="margin-top: 1%;">
            <h3 style="margin-left: 6%;">Similares</h3>
            <div class="two columns" style="background-color: #F6F6F6;margin-left: 6%;" ng-repeat="similar in similarMovies">
                <div>
                    <a ng-href="#/moviedetails/{$ similar.tmdb_id $}" class="movie-title-link">
                        <p class="movieTitleMaster">{$ similar.title $}</p>
                        <img src="{$ similar.poster_path $}" width="202px" height="287px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="third-section" class="twelve columns first-section">
        <div id="reviews" style="margin: 0% 5% 2% 6%;">
            <div>
                <h3 style="margin-bottom: 0.5em;">Comente:</h3>
            </div>
            <div>
                <textarea class="u-full-width commentsForm" placeholder="Sua Crítica" id="userComment" ng-model="userComment" ng-click="clearField('userComment')"></textarea>
            </div>
            <button class="sendCommentBtn" ng-click="validateComment()">Enviar</button>
        </div>
    </div>
    <div id="third-section" class="twelve columns first-section" style="background-color: #eee;">
        <div id="reviews" style="margin: 1% 5% 2% 6%;">
            <div style="margin-bottom: 1em;" ng-if="!allComments">
                <h3 style="text-align:center"><button class="display-all-comments" ng-click="showAllComments()">Mostrar Comentários</button></h3>
            </div>

            <div style="margin-bottom: 1em;" ng-if="allComments">
                <h3 style="text-align:center"><button class="display-all-comments" ng-click="hideAllComments()">Esconder Comentários</button></h3>
            </div>

            <div ng-show="allComments" ng-repeat="comment in comments" class="single-comment">
                <i ng-show = "comment.isUserComment" class="fa fa-trash delete-comment" aria-hidden="true" ng-click="deleteComment(comment.comment_id)"></i>
                <h5 style="float: left;margin-bottom: 0;margin-right: 0.5em;">{$ comment.user_name $}</h5>
                <div class="comment-rating">
                    <style>
                        .ngrateit-star {
                            background-size: 18px;
                        }
                    </style>
                    <ng-rate-it ng-model="comment.rate" step="1" resetable="false" min="0" max="5"
                        star-width="18" star-height="18" read-only="true"></ng-rate-it>
                </div>
                <p style="font-size: large; text-align: justify">
                    {$ comment.comment $}
                </p>
            </div>

        </div>
    </div>
    <div id="snackbar">{$ toastMessage $}</div>
</div>