<div class="twelve columns searchBarBackground">
    <form ng-submit="searchMovie(query)">
        <span class="icon"><i id ="searchIcon" class="fa fa-search searchIcon" ng-click="searchMovie(query)"></i></span>
        <input class="u-full-width searchBar" type="text" name="search" placeholder="Buscar Filmes.." ng-model="query">
    </form>
</div>

<div style="background-color: #eee;">
    <div class="twelve columns" style="background-color: #eee;">
        <h4 class="u-pull-left" style="margin-left: 2%;margin-top: 2%; ">Resultados:</h4>
    </div>

    <div style="padding-top: 23em;margin-bottom: 25em;" ng-show="dataLoading">
        <div class="loader"></div>
        <p class="loadingText"> "Darth Vader tem apenas 12 minutos de cena no primeiro Star Wars"... </p>
    </div>
    <div ng-if="noResults">
        <h1 class="filterNotFoundLabel">Nenhum Resultado Encontrado</h1>
    </div>

    <div class="twelve columns" style="padding: 0% 2% 1% 2%; background-color: #eee;" ng-repeat="i in index">
        <div>
            <div class="two columns" style="background-color: #F6F6F6;" ng-repeat="movie in fullList[i]">

                <div>
                    <i class="fa fa-thumb-tack watchlist_pin" ng-click="addWatchlistExternal(movie.tmdb_id, movie.poster, movie.title)"></i>
                    <a ng-href="#/moviedetails/{$movie.tmdb_id$}" class="movie-title-link">
                        <p class="movieTitleMaster">{$movie.title$}</p>
                        <div style="position: relative">
                            <img src="{$movie.poster$}" style="width: 100%;min-height: 100%;">
                    </a>
                    </div>
                </div>
                <div style="text-align: center;">
                    <style>
                        .ngrateit-star {
                            background-size: 28px;
                        }
                    </style>
                    <ng-rate-it ng-model="movie.rating" step="1" resetable="false" min="0" max="5" star-width="28" star-height="28" ng-click="setUserRatingExternal(movie.rating, movie.poster, movie.title, movie.tmdb_id)"></ng-rate-it>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar">{$ toastMessage $}</div>