<div class="twelve columns filterTab" ng-controller="mainCtrl">
    
    <div>
        <h6 class="filterText" style="text-align: center">
            <i class="fa fa-caret-square-o-down" id="toggleDown" aria-hidden="true" ng-click="showFilterBar()"></i>
            <i class="fa fa-caret-square-o-up" id="toggleUp" aria-hidden="true" style="display:none" ng-click="showFilterBar()"></i>
            Filtros
        </h6>
        </div>
    <div class="twelve columns" style="display:none" id="filterBar">
            <button>Drama</button>
            <button>Ação</button>
            <button>Suspense</button>
            <button>Aventura</button>
            <button>Mistério</button>
            <button>Família</button>
            <button>Thriller</button>
            <button>História</button>
            <button>Romance</button>
            <button>Documentário</button>
            <button>Comédia</button>
            <button>Musical</button>
            <button>Guerra</button>
            <button>Ficção Científica</button>
            <button>Fantasia</button>
            <button>Animação</button>
            <button>Crime</button>
            <button>Faroeste</button>
            <button>Terror</button>
    </div>
    
</div>

<div>
    <div class="twelve columns">
        <h4 class="u-pull-left" style="margin-left:1%">Recomendados Pra Mim</h4><a href="#/full-recommendation"><button class="see-all u-pull-left">Ver Todos</button></a>
    </div>
    <div class="twelve columns" style="padding: 0% 2% 1% 2%;">
        <div>
            <div class="two columns" style="background-color: #F6F6F6;" ng-repeat="movie in recommendation">
                
                
                    <p class="movieTitleMaster">{$movie.title$}</p>
                    <a style="position: relative" href="#" ng-mouseover="showPopover=true;" ng-mouseleave="showPopover=false;">
                    <img src="{$movie.poster$}" width="100%" height="100%">
                        <div style="position: absolute;left: 100%;z-index: 9999; top:-200px;display: block;color: black;width: 125%;" 
                        class="popover right" ng-show="showPopover">
                            <div class="arrow"></div>
                            <h3 class="popover-title">{$movie.title$}</h3>
                            <div class="popover-content">
                                <p>Sua Avaliação:</p>
                                <p>Sinopse: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac neque auctor, iaculis nunc nec, mattis sapien.</p>
                            </div>
                        </div>
                    </a>
                    

                    <button class="main-add-wl-btn u-full-width">Quero Ver</button>
        
            </div>
        </div>
    </div>
</div>

<div>
    <div class="twelve columns">
        <h4 class="u-pull-left" style="margin-left:1%">Lançamentos</h4><button class="see-all u-pull-left">Ver Todos</button>
    </div>
    <div class="twelve columns" style="padding: 0% 2% 1% 2%;">
        <div>
            <div class="two columns" style="background-color: #F6F6F6;" ng-repeat="l in commingSoon">

                    <p class="movieTitleMaster">{$l.title$}</p>                    
                    <img src="{$l.img$}" width="100%" height="100%">

                    <h6 style="text-align:center">Sem Classificação</h6>
            </div>
        </div>
    </div>
</div>