<div class="twelve columns filterTab" ng-controller="mainCtrl">
    <h3 style="text-align: center">{$ players $}</h3>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Drama
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Ação
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Suspense
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Aventura
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Mistério
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Família
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Thriller
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">História
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Romance
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Documentário
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Comédia
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Musical
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Guerra
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Ficção Científica
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Fantasia
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Animação
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Crime
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">Faroeste
    </div>
    <div class="two columns">
        <input class="checkbox" type="checkbox">bob
    </div>
    
</div>
<div class="twelve columns" >
    <div class="two columns" ng-init="init()" ng-repeat="m in images">
        <div>
            <p>{$ m.title $}</p>
            <img src="{$ m.img $}" width="50%" height="auto">
            
        </div>

        <div>
            <ul class="topnav" id="myTopnav">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
            </ul>
        </div>
    </div>
</div>