<div class="twelve columns" ng-controller="movieCtrl">
   <div id="first-section" class="twelve columns first-section" style="background-color: #eee">
       <div id="poster-rating" class="four columns">
           <div>
               <img src="{$ movieDetails.poster_path $}" class="detail-movie-poster">
               <div style="text-align: center;">
                        <style>
                            .ngrateit-star{
                                background-size: 45px;
                            }
                        </style>
                    <ng-rate-it style="margin-left: 10%;" ng-model="movie.rating" step="1" resetable="false" min="0" max="5" star-width="45" star-height="45" ng-click="setUserRating(movie.rating, movie.movie_id)"></ng-rate-it>
            </div>
           </div>
       </div>

       <div id=movie-info class="eight columns">
           <div id="title-overview" style="margin: 5% 10% 0% 0%;">
               <h3 class="movie-title-detail">{$ movieDetails.title $}</h3>
               <p class="movie-overview">{$ movieDetails.overview $}</p>
           </div>
       </div>

       <div id=movie-crew class="eight columns">
           <div id="director" class="four columns">
               <p style="font-size: large;"><b>Diretor(a): </b>{$ movieCrew.director $}</p>
           </div>
           <div id="writer" class="four columns" style="float: right;">
               <p style="font-size: large;"><b>Roteirista: </b>{$ movieCrew.writer $}</p>
           </div>
       </div>

       <div id=movie-genre-rotten class="eight columns">
           <div id="genre" class="four columns">
               <p style="font-size: large;"><b>Gêneros: </b>{$ movieDetails.genres $}</p>
           </div>
           <div id="imdb" class="four columns" style="float: right;">
                <span class="imdbRatingPlugin" data-user="ur27796125" data-title="{$ movieDetails.imdb_id $}" data-style="p4">
                    <a ng-href='{$ movieDetails.imdb_link $}'><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png" /></a>
                8.7/10</span>             
           </div>
       </div>

       <div id=casting class="eight columns" style="margin-top: 1%;">
           <p style="font-size: large;"><b>Elenco Principal: </b>
       </div>

        <div id=casting class="eight columns"> 
           <div class="two columns" ng-repeat="cast in movieCast">
               <img src="{$ cast.profile_img $}" width='62px' height="93px">
               <div>
                   <p>{$ cast.actor $}<br><b>({$ cast.character $})</b></p>
               </div>
       </div>
   </div>
</div>

<div id="second-section" class="twelve columns first-section">
    <div id="video" class="four columns" style="margin: 3% 0% 3% 6%;">
        <div class="embed-responsive embed-responsive-16by9">
            <youtube-video class="embed-responsive-item" video-id="movieVideo.youtube_id"></youtube-video>
        </div>
    </div>

    <div id="more-details" class="four columns">
    </div>
</div>
</div>