<div class="twelve columns">
    <div id=user-details class="updateProfile">
        <h3 class="profileTitle"> Dados Pessoais </h3>
        <div style="width: 75%">
            <span>Nome</span>
            <input class="u-full-width updateFields" type="text" placeholder="Nome" ng-model="newName"> 
        </div>

        <div style="width: 75%">
            <span>Email</span>
            <input class="u-full-width updateFields" type="email" placeholder="Email" ng-model="newEmail">
        </div>

        <div style="width: 75%">
            <span>Nova Senha</span>
            <input class="u-full-width updateFields" type="password" placeholder="Senha" ng-model="newPassword">
        </div>

        <div style="width: 75%">
            <span>Confirmar Nova Senha</span>
            <input class="u-full-width updateFields" type="password" placeholder="Confrimar Senha" ng-model="confirmedPassword">
        </div>
        
        <div style="width: 75%">
            <span>Senha Atual</span>
            <input class="u-full-width updateFields" type="password" placeholder="Senha Atual" ng-model="currentPasswordUser">
        </div>
        <button style="width: 75%" class="button-primary u-full-width updateBtn" ng-click="validateEntry()">Atualizar Cadastro</button>
    </div>

    <div id="user-preferences" class="updateProfile" style="background-color: #eeeeee">
        <h3 class="profileTitle"> Preferências </h3>

        <p class="currentPref"> Atual: {$firstG.name$}, {$secondG.name$}, {$thirdG.name$} </p>

        <div id="first-genre">
            <select class="genreSelect" style="margin-right: 15%" id="firstG" ng-model="firstG" ng-click="clearField('firstG')" ng-options="g.name for g in genres track by g.id"> 
            </select>
        </div>

        <div id="second-genre">
            <select class="genreSelect" style="margin-right: 15%" id="secondG" ng-model="secondG" ng-click="clearField('secondG')" ng-options="g.name for g in genres track by g.id"> 
            </select>
        </div>

        <div id="third-genre">
            <select class="genreSelect" style="float: none" id="thirdG" ng-model="thirdG" ng-click="clearField('thirdG')" ng-options="g.name for g in genres track by g.id"> 
            </select>
        </div>

        <div style="width: 75%;margin-top: 2em">
            <span>Senha Atual</span>
            <input style="background-color: white !important" class="u-full-width updateFields" type="password" placeholder="Senha Atual" id="passwordConfirm" ng-model="currentPasswordGenre" ng-click="clearField('passwordConfirm')">
            <button class="button-primary u-full-width updateBtn" ng-click="validateGenres()">Atualizar Preferências</button>
        </div>
    </div>
    
</div>
<div id="snackbar">{$ toastMessage $}</div>