.aboutBox {
    margin-top: 15%;
    padding: 5%;
    background-color: rgba(0,0,0,0.75);
}

.siteDescription {
    color: #fff7c9;
    text-align: justify;
}

.siteTitle {
    color: #c68006;
    text-align: center;
}

.loginText {
    color: #fff7c9;
    text-align: center;
}

.facebookButton {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
}

.loginButton {
    background-color: #642e68 !important;
    border-color: #642e68 !important;
}

.singupButton {
    background-color: #c68006 !important;
    border-color: #c68006 !important;
}

.loginFields {
    background-color: rgba(0,0,0,0.69) !important;
    color: #fff7c9 !important;
    border-color: rgba(0,0,0,0.69) !important;
}

.singInBackground {
    background: url(../img/singingrandhotel.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logInBackground {
    background: url(../img/grandhotel.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.searchBar {
    height: 45px !important;
    width: 50%;
    border: none !important;
    margin-left: 25%;
    margin-right: 25%;
    color: #acacac;
    font-style: italic;
}

.searchBarBackground {
    height: 45px !important;
    background-color: #ffffff;
    border-bottom-color: #000000 !important;
}

.searchIcon {
    position: absolute;
    margin-left: 23%;
    line-height: 35px;
    color: #acacac;
}

#searchIcon:hover {
    color: #081c24;
}

.headerMenu {
    background-color: #2B2B2B;
    padding: 7px 3% 0px 3%
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
    vertical-align: sub;
}

/* Change background color of links on hover */
ul.topnav li a:hover {    
    color: #DE1B1B;
    font-weight: bold;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.checkbox {
    width: 20px;
    height: 20px;
    border-color: #c68006;
}

.main-add-wl-btn {
    height: 30px;
    line-height: 30px;
    background-color: #4B8c61;
    color: white;
}

.popover {
    position: absolute;
    left: -50%;
    top: 100%;
    z-index: 9999;
    display: block;
    color: black;
}

.filterTab {
    background-color: #eee !important;
    padding-top: 1%;
    margin-bottom: 2%;
}

.filterText {
    margin-bottom: 1rem !important;
    text-align: center;
    font-size: 2rem !important;
    font-weight: 100;
}

.mainListsTitle {
    margin: 2%;
    color: #642e68;
}

.movieTitleMaster {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0.5rem;
    text-align: center;

    font-size: large;
    margin: 2px 5px 2px 5px;
}

.see-all {
    margin-left: 1%;
    padding: 0 7px;
    font-size: 10px;
    height: 32px;
    line-height: 0px;
}

.menuItems {
    margin-top: 23px;
    width: 100%;
}

.menuListItems {
    margin: 0% 1% 0% 1%;
}

.footerBar {
    background-color: #2B2B2B;
    padding: 3% 15% 3% 15%;
}

.footerImg {
    height: 100px;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    line-break: auto
}

.popover.top {
    margin-top: -10px
}

.popover.right {
    margin-left: 10px
}

.popover.bottom {
    margin-top: 10px
}

.popover.left {
    margin-left: -10px
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0
}

.popover-content {
    padding: 9px 14px
}

.popover>.arrow,
.popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.popover>.arrow {
    border-width: 11px
}

.popover>.arrow:after {
    content: "";
    border-width: 10px
}

.popover.top>.arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0
}

.popover.top>.arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0
}

.popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0
}

.popover.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0
}

.popover.bottom>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25)
}

.popover.bottom>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff
}

.popover.left>.arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25)
}

.popover.left>.arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff
}
