.aboutBox {
    margin-top: 15%;
    padding: 5%;
    background-color: rgba(0,0,0,0.75);
}

.siteDescription {
    color: #fff7c9;
    text-align: justify;
}

.siteTitle {
    color: #c68006;
    text-align: center;
}

.loginText {
    color: #fff7c9;
    text-align: center;
}

.facebookButton {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
}

.loginButton {
    background-color: #642e68 !important;
    border-color: #642e68 !important;
}

.singupButton {
    background-color: #c68006 !important;
    border-color: #c68006 !important;
}

.loginFields {
    background-color: rgba(0,0,0,0.69) !important;
    color: #fff7c9 !important;
    border-color: rgba(0,0,0,0.69) !important;
}

.singInBackground {
    background: url(../img/shining_bike.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logInBackground {
    background: url(../img/shining_bike.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.searchBar {
    height: 45px !important;
    width: 50%;
    border: none !important;
    margin-left: 25%;
    margin-right: 25%;
    color: #acacac;
    font-style: italic;
}

.searchBarBackground {
    height: 45px !important;
    background-color: #ffffff;
    border-bottom-color: #000000 !important;
}

.searchIcon {
    position: absolute;
    margin-left: 23%;
    line-height: 35px;
    color: #acacac;
}

#searchIcon:hover {
    color: #081c24;
}

.headerMenu {
    background-color: #2B2B2B;
    padding: 7px 3% 0px 3%
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
    vertical-align: sub;
}

/* Change background color of links on hover */
ul.topnav li a:hover {    
    color: #DE1B1B;
    font-weight: bold;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.checkbox {
    width: 20px;
    height: 20px;
    border-color: #c68006;
}

.main-add-wl-btn {
    height: 30px;
    line-height: 30px;
    background-color: #4B8c61;
    color: white;
}

.popover {
    position: absolute;
    left: -50%;
    top: 100%;
    z-index: 9999;
    display: block;
    color: black;
}

.filterTab {
    background-color: #eee !important;
    padding-top: 1%;
    margin-bottom: 2%;
}

.filterText {
    margin-bottom: 1rem !important;
    text-align: center;
    font-size: 2rem !important;
    font-weight: 100;
}

.mainListsTitle {
    margin: 2%;
    color: #642e68;
}

.movieTitleMaster {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0.5rem;
    text-align: center;

    font-size: large;
    margin: 2px 5px 2px 5px;
}

.see-all {
    margin-left: 1%;
    padding: 0 7px;
    font-size: 10px;
    height: 32px;
    line-height: 0px;
}

.menuItems {
    margin-top: 23px;
    width: 100%;
}

.menuListItems {
    margin: 0% 1% 0% 1%;
}

.footerBar {
    background-color: #2B2B2B;
    padding: 3% 15% 3% 15%;
}

.footerImg {
    height: 100px;
}

a.movie-title-link:link    {
  /* Applies to unvisited links of class mainNav */
  text-decoration:  none;
  color: #2b2b2b;
  } 
a.movie-title-link:visited {
  /* Applies to visited links of class mainNav */
text-decoration:  none;
  color: #2b2b2b;
  } 
a.movie-title-link:hover   {
  /* Applies to links under the pointer of class mainNav */
  text-decoration:  none;
  color: #2b2b2b;
  } 
a.movie-title-link:active  {
  /* Applies to activated links of class mainNav */
  text-decoration:  none;
  color: #2b2b2b;
  } 

.detail-movie-poster {
    margin: 14% 20% 3% 20%;;
    height: 68%;
    width: 68%;
}

.movie-title-detail {
    text-align: center;
    font-weight: bold;
}

.movie-overview {
    font-size: large;
    text-align: justify;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
      
.more_details {
    margin-top: 10%;
    font-size: larger;
}

.keywors {
    margin-top: 10%;
    width: 50%;
    float: right;
}

.keywors-btn {
    float: left; 
    margin-right: 2%; 
    background-color: #9a2726; 
    color: #fff;
}

.watchlist_pin {
    line-height: 1.5em;
    float: right;
    color: #636361;
    display: inline-block;
    font-size: 1.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.watchlist_pin:hover {
    color: #006400;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}