<!DOCTYPE html>
<html lang="en" ng-app="moviemancerApp" style="height: 100%">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<base href="/" />-->
  <meta charset="utf-8" />
  <title>Moviemancer</title>
  <meta name="Moviemancer" content="">
  <meta name="@betinacosta" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/font-awesome/css/font-awesome.min.css' %}" />

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/skeleton.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/claquete.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/angular-rateit-master/dist/ng-rateit.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/angularjs-slider-master/dist/rzslider.css' %}" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="https://uploaddeimagens.com.br/images/000/900/001/original/film-strip_%281%29.png.ico?1493100398">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <script src="{% static 'recommendation/node_modules/angular/angular.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script>
  <script src="{% static 'recommendation/angular-rateit-master/dist/ng-rateit.js' %}"></script>
  <script src="{% static 'recommendation/angularjs-slider-master/dist/rzslider.js' %}"></script>
  <script src="{% static 'recommendation/angular-youtube-embed-master/dist/angular-youtube-embed.min.js' %}"></script>
  <script src="{% static 'recommendation/angular-tmdb/angular-tmdb.js' %}"></script>
  <script src="https://www.youtube.com/iframe_api"></script>



  <script src="{% static 'recommendation/js/app.js' %}"></script>
  <script src="{% static 'recommendation/node_modules/angular-route/angular-route.js' %}"></script>
  <script src="{% static 'recommendation/js/moviedetails.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/moviemancer.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/recommendation.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/watchedlist.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/watchlist.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/filters.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/home.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/login.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/singup.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/authentication.service.js' %}"></script>
  <script src="{% static 'recommendation/js/moviemancer.service.js' %}"></script>
  <script src="{% static 'recommendation/js/registergenres.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/profile.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/search.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/notfound.controller.js' %}"></script>

  <script>
    (function (d, s, id) {
      var js, stags = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js";
      stags.parentNode.insertBefore(js, stags);
    })
      (document, 'script', 'imdb-rating-api');

  </script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body id="body">

  <!-- Imutable Page Layout (Menu Bar)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div ng-controller="homeCtrl">

    <div class="twelve columns headerMenu" id="nav">
      <div class="twelve columns">

        <ul class="topnav" id="myTopnav" style="float:left">
          <li class="menuListItems"> <a href="#/moviemancer"><img style="width: 10em;margin-top: 0.2em;" src="https://uploaddeimagens.com.br/images/000/898/377/original/moviemancer-hori.png?1492949519"></a></li>
        </ul>

        <div ng-show="prop.sanduba" class="six columns" style="float:right" ng-click="showMenu()">
          <ul class="menu-ul">
            <li class="menu-li"><a href="#/profile" class="menu-li-a">perfil</a></li>
            <li class="menu-li"><a href="#/watchedlistview" class="menu-li-a">assistidos</a></li>
            <li class="menu-li"><a href="#/watchlistview" class="menu-li-a">watchlist</a></li>
            <li class="menu-li"><a href="#/" class="menu-li-a" ng-click="logOut()">sair</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>



  <!-- End Page (Menu Bar)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div ng-view></div>

  <!-- End Content (navigation)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <footer class="twelve columns footerBar" id="footer">
    <div class="three columns" style="color:#f2f2f2;">
      <img class="footerImg" src="https://uploaddeimagens.com.br/images/000/898/377/original/moviemancer-hori.png?1492949519">
    </div>
    <div class="three columns" style="color:#f2f2f2;margin-top: 2%;">
      <p style="margin-bottom: 0.5rem !important;">Versão 1.0</p>
      <p style="margin-bottom: 0.5rem !important;">copyright ©2016</p>
    </div>
    <div class="three columns" style="color:#f2f2f2;margin-top: 2%;">
      <p style="margin-bottom: 0.5rem !important;">O site de recomendação de filmes mais legal do Brasil</p>
    </div>
    <div class="three columns" style="margin-top: 2%;float:right;">
      <img height="50px" style="float: right;" src="https://www.themoviedb.org/assets/1/v4/logos/293x302-powered-by-square-green-3ee4814bb59d8260d51efdd7c124383540fc04ca27d23eaea3a8c87bfa0f388d.png">
    </div>
  </footer>

  <!-- End Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>

</html>