<!DOCTYPE html>
<html lang="en" ng-app="claqueteApp">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Claquete16</title>
    <meta name="Claquete16" content="">
    <meta name="@betinacosta" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/font-awesome/css/font-awesome.min.css' %}" />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/skeleton.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/claquete.css' %}" />

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--<link rel="icon" type="image/png" href="images/dice.png"> -->

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <script src="{% static 'recommendation/node_modules/angular/angular.js' %}"></script>
  <script src="{% static 'recommendation/js/app.js' %}"></script>
  <script src="{% static 'recommendation/node_modules/angular-route/angular-route.js' %}"></script>
  <script src="{% static 'recommendation/js/claqueteController.js' %}"></script>
  <script src="{% static 'recommendation/js/recommendationController.js' %}"></script>

</head>
 
<body >

  <!-- Imutable Page Layout (Menu Bar)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="twelve columns headerMenu" id="nav" style="background-color: #642e68">
    <div class="seven columns">
        <ul class="topnav" id="myTopnav">
            <li><a href="#/">Claquete</a></li>
            <li><a href="#profile">Perfil</a></li>
            <li><a href="#watchedlist">Já Vi</a></li>
            <li><a href="#watchlist">Quero Ver</a></li>
            <li><a href="#logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>

        </ul>
    </div>

    <div class="five columns">
        <form ng-submit="searchMovie(query)">
            <input class="u-full-width searchBar" type="text" name="search" placeholder="Buscar Filmes.." ng-model="query">
        </form>
    </div>
</div>
<!-- End Page (Menu Bar)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div ng-view></div>

</body>
</html>
