<!DOCTYPE html>
<html lang="en" ng-app="claqueteApp">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Claquete16</title>
    <meta name="Claquete16" content="">
    <meta name="@betinacosta" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/font-awesome/css/font-awesome.min.css' %}" />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/skeleton.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/claquete.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/angular-rateit-master/dist/ng-rateit.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/angularjs-slider-master/dist/rzslider.css' %}" />

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--<link rel="icon" type="image/png" href="images/dice.png"> -->

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <script src="{% static 'recommendation/node_modules/angular/angular.js' %}"></script>
  <script src="{% static 'recommendation/angular-rateit-master/dist/ng-rateit.js' %}"></script>
  <script src="{% static 'recommendation/angularjs-slider-master/dist/rzslider.js' %}"></script>
  <script src="{% static 'recommendation/angular-youtube-embed-master/dist/angular-youtube-embed.min.js' %}"></script>
  <script src="https://www.youtube.com/iframe_api"></script>

  
  
  <script src="{% static 'recommendation/js/app.js' %}"></script>
  <script src="{% static 'recommendation/node_modules/angular-route/angular-route.js' %}"></script>
  <script src="{% static 'recommendation/js/movieDetailController.js' %}"></script>
  <script src="{% static 'recommendation/js/claqueteController.js' %}"></script>
  <script src="{% static 'recommendation/js/recommendationController.js' %}"></script>
  <script src="{% static 'recommendation/js/watchedlist.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/watchlist.controller.js' %}"></script>
  <script src="{% static 'recommendation/js/filters.controller.js' %}"></script>

  <script>
        (function(d,s,id){
            var js,stags=d.getElementsByTagName(s)[0];
            if(d.getElementById(id)){
                return;
            }
            js=d.createElement(s);
            js.id=id;
            js.src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js";
            stags.parentNode.insertBefore(js,stags);
        })
        (document,'script','imdb-rating-api');
</script>
 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
 
<body >

  <!-- Imutable Page Layout (Menu Bar)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="twelve columns headerMenu" id="nav">
    <div class="twelve columns">
        <ul class="topnav" id="myTopnav">
            <li class="menuListItems"> <a href="#/"><img style="width: 10em;margin-top: 0.2em;" src="https://uploaddeimagens.com.br/images/000/898/377/original/moviemancer-hori.png?1492949519"></a></li>
            <li class="menuListItems"><a href="#profile" class="menuItems">PERFIL</a></li>
            <li class="menuListItems"><a href="#/watchedlistview" class="menuItems">JÁ VI</a></li>
            <li class="menuListItems"><a href="#/watchlistview" class="menuItems">QUERO VER</a></li>
            <li class="menuListItems"><a href="#watchlist" class="menuItems">SAIR</a></li>
        </ul>
    </div>
    </div>

    

<!-- End Page (Menu Bar)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div ng-view></div>

<!-- End Content (navigation)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <footer class="twelve columns footerBar">
    <div class="three columns" style="color:#f2f2f2;">
      <img class="footerImg" src="https://uploaddeimagens.com.br/images/000/898/377/original/moviemancer-hori.png?1492949519">
    </div>
    <div class="three columns" style="color:#f2f2f2;margin-top: 2%;">
      <p style="margin-bottom: 0.5rem !important;">Versão 1.0</p>
      <p style="margin-bottom: 0.5rem !important;">copyright ©2016</p>
    </div>
    <div class="three columns" style="color:#f2f2f2;margin-top: 2%;">
      <p style="margin-bottom: 0.5rem !important;">O site de recomendação de filmes mais legal do Brasil</p>
    </div>
    <div class="three columns" style="margin-top: 2%;float:right;">
      <img height="50px" style="float: right;" src="https://www.themoviedb.org/assets/9b3f9c24d9fd5f297ae433eb33d93514/images/v4/logos/408x161-powered-by-rectangle-green.png">
    </div>
  </footer>

<!-- End Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
</html>