<div style="padding-top: 18%" ng-show="dataLoading">
    <div class="loader"></div>
    <p class="loadingText"> Aguarde, preparando suas recoemndações... </p>
</div>
<div class="twelve columns aboutBox" ng-show="loginGroup">
    <div class="six columns" style="margin: 2% 8% 0% 0%;">
        <img width="40%" style="margin-left: 30%;margin-right: 30%;margin-top: 1.3em;" src="https://uploaddeimagens.com.br/images/000/898/850/original/MOVIMANCER-RED-BIG.png?1492995210"
        />
        <p class="siteDescription">Moviemancer é um site de recomendação de filmes com multiplos filtros para você que está cansado de passar dois Retorno
            do Rei escolhendo um filme para assistir. Venha conferir!
        </p>
    </div>
    <div class="five columns">
        
        <div >
            <h5 class="loginText">ENTRAR</h5>
            <form>
                <div>
                    <input class="facebookButton button-primary u-full-width" type="submit" value="Facebook" ng-click="facebookLogin()">
                    <h6 class="loginText">ou</h6>
                    <input class="u-full-width loginFields" type="email" placeholder="Email" id="username" ng-model="sEmail">
                    <input class="u-full-width loginFields" type="password" placeholder="Senha" id="password" ng-model="sPassword">
                    <button class="button-primary u-full-width loginButton" ng-click="login(sEmail,sPassword)">ENTRAR</button></a>
                    <a href="#/singup"> <button class="button-primary u-full-width singupButton">CADASTRAR</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="snackbar">{$ toastMessage $}</div>