<div class="pickGenresTitle">
    <h2>Selecione os seus 3 Gêneros Favoritos</h2>
    <h4>Restantes: <b>{$ remainigGenres $}</b></h4>
</div>
<div class="twelve columns wrapper">
    <div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li class="genreLine">Ação</li>
                <li class="genreLine">Aventura</li>
                <li class="genreLine">Comédia</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li class="genreLine">Crime</li>
                <li class="genreLine">Documentário</li>
                <li class="genreLine">Drama</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li class="genreLine">Animação</li>
                <li class="genreLine">Musical</li>
                <li class="genreLine">Mistério</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li class="genreLine">Ficção Científica</li>
                <li class="genreLine">Fantasia</li>
                <li class="genreLine">Terror</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li class="genreLine">Guerra</li>
                <li class="genreLine">Família</li>
                <li class="genreLine">Romance</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li class="genreLine">Coffee</li>
                <li class="genreLine">Tea</li>
                <li class="genreLine">Milk</li>
            </ul>
        </div>
    </div>
</div>