<div style="background-color: #eee">
    <div class="twelve columns genresRow" style="margin-top: 5em">
        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Ação</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Aventura</p>
            </div>
            <img src="https://bfmbrainfall.files.wordpress.com/2015/10/movie4.jpg?w=200&h=200&crop=1" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Animação</p>
            </div>
            <img src="http://images.pyramidshop.com/images/Top-5-Highest-Selling-Animation-Films-4.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Comédia</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Crime</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Documentário</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

</div>

<div class="twelve columns genresRow" style="margin-top: 1em">
        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Ação</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Aventura</p>
            </div>
            <img src="https://bfmbrainfall.files.wordpress.com/2015/10/movie4.jpg?w=200&h=200&crop=1" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Animação</p>
            </div>
            <img src="http://images.pyramidshop.com/images/Top-5-Highest-Selling-Animation-Films-4.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Comédia</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Crime</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Documentário</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

</div>

<div class="twelve columns genresRow" style="margin-top: 1em">
        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Ação</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Aventura</p>
            </div>
            <img src="https://bfmbrainfall.files.wordpress.com/2015/10/movie4.jpg?w=200&h=200&crop=1" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Animação</p>
            </div>
            <img src="http://images.pyramidshop.com/images/Top-5-Highest-Selling-Animation-Films-4.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Comédia</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Crime</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

        <div class="genreDiv" style="margin-right: 2%">
            <div>
                <p class="genreLabel">Documentário</p>
            </div>
            <img src="http://www.londonnet.co.uk/files/images/cinema/templates/action-movie-the-green-hornet.jpg" width="200px">
        </div>

</div>
</div>