<div class="pickGenresTitle">
    <h2>Selecione os seus 3 Gêneros Favoritos</h2>
    <h4>Restantes: <b>{$ remainigGenres $}</b></h4>
</div>
<div class="twelve columns wrapper">
    <div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li id="zero" class="genreLine" ng-click="selectGenre(0,'zero')">{$ genres[0].name $}</li>
                <li id="one" class="genreLine" ng-click="selectGenre(1,'one')">{$ genres[1].name $}</li>
                <li id="two" class="genreLine" ng-click="selectGenre(2,'two')">{$ genres[2].name $}</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li id="three" ng-click="selectGenre(3,'three')" class="genreLine">{$ genres[3].name $}</li>
                <li id="four" ng-click="selectGenre(4,'four')" class="genreLine">{$ genres[4].name $}</li>
                <li id="five" ng-click="selectGenre(5, 'five')" class="genreLine">{$ genres[5].name $}</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li id="six" ng-click="selectGenre(6,'six')" class="genreLine">{$ genres[6].name $}</li>
                <li id="seven" ng-click="selectGenre(7, 'seven')" class="genreLine">{$ genres[7].name $}</li>
                <li id="eight" ng-click="selectGenre(8, 'eight')" class="genreLine">{$ genres[8].name $}</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li id="nine" ng-click="selectGenre(9,'nine')" class="genreLine">{$ genres[9].name $}</li>
                <li id="ten" ng-click="selectGenre(10,'ten')" class="genreLine">{$ genres[10].name $}</li>
                <li id="eleven" ng-click="selectGenre(11,'eleven')" class="genreLine">{$ genres[11].name $}</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li id="twelve" ng-click="selectGenre(12,'twelve')" class="genreLine">{$ genres[12].name $}</li>
                <li id="thirteen" ng-click="selectGenre(13,'thirteen')" class="genreLine">{$ genres[13].name $}</li>
                <li id="fourteen" ng-click="selectGenre(14,'fourteen')" class="genreLine">{$ genres[14].name $}</li>
            </ul>
        </div>
        <div class="genre">
            <ul style="list-style-type:none">
                <li id="fifteen" ng-click="selectGenre(15,'fifteen')" class="genreLine">{$ genres[15].name $}</li>
                <li id="sixteen" ng-click="selectGenre(16,'sixteen')" class="genreLine">{$ genres[16].name $}</li>
                <li id="seventeen" ng-click="selectGenre(17,'seventeen')" class="genreLine">{$ genres[17].name $}</li>
            </ul>
        </div>
    </div>
</div>