<!DOCTYPE html>
<html lang="en" ng-app="claqueteApp" class="singInBackground">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Claquete16</title>
    <meta name="Claquete16" content="">
    <meta name="@betinacosta" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/font-awesome/css/font-awesome.min.css' %}" />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/skeleton.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/claquete.css' %}" />

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--<link rel="icon" type="image/png" href="images/dice.png"> -->

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <script src="{% static 'recommendation/node_modules/angular/angular.js' %}"></script>
  <script src="{% static 'recommendation/js/app.js' %}"></script>
  <script src="{% static 'recommendation/node_modules/angular-route/angular-route.js' %}"></script>

  <!--<script src="{% static 'recommendation/js/loginController.js' %}"></script>-->
</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns aboutBox" style="margin-top: 10%">
        <div class="six columns" style="margin: 20% 0% 20% 0%;">
          <h1 class="siteTitle">Claquete 16</h1>
          <p class="siteDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. 
            Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
        </div>
        <div class="six columns">
          <h4 class="loginText">Conectar</h4>
          <form>
            <div>
              <input class="facebookButton button-primary u-full-width" type="submit" value="Facebook" ng-click="facebookLogin()">
              <h6 class="loginText">ou</h6>
              <input class="u-full-width loginFields" type="text" placeholder="Username" id="username" ng-model="sUsername">
              <input class="u-full-width loginFields" type="text" placeholder="Nome" id="name" ng-model="sName">
              <input class="u-full-width loginFields" type="email" placeholder="Email" id="email" ng-model="sEmail">
              <input class="u-full-width loginFields" type="password" placeholder="Senha" id="password" ng-model="sPassword">
              <input class="u-full-width loginFields" type="password" placeholder="Confirmar Senha" id="passwordConfirm" ng-model="sPasswordConfirm">
              <input class="button-primary u-full-width singupButton" type="submit" value="Cadastrar" ng-click="singIn(sUsername, sName, sEmail, sPassword, sPasswordConfirm)">
            </div>
          </form>
        </div>
      </div>
                
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
